* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background-color: aliceblue;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, rgb(173, 172, 178) 0%, rgb(142, 23, 201) 100%);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  color: rgb(249, 248, 247);
  
}
.navbar img{
  height: 3rem;
  margin-left: 1.4rem;
  animation: rollup 4s ease-in-out 500;
  transition: all 3s ease-in-out;
}
.header--title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: auto;
}
.header--project{
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

main{
  padding: 2rem;
}
.meme--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.meme--form--container{
  display: flex;
  gap: 3rem;
  justify-content: center;
  
}
input{
  
  
  
  max-width: 95%;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 1rem;
  font-size: 1rem;
 
}

button{
  position: relative;
  margin: 0 auto;
  max-width: 95%;
  margin: 1rem;
  width: 100%;
  padding: 1rem 3rem;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(173, 172, 178) 0%, rgb(169, 136, 185) 100%);
  border: none; 
  border-radius: 5px;
  font-size: 1.4rem;
  font-size: 400;
  text-transform: uppercase;
  color: beige;
  text-align: center;
  
}
.btn-1:hover{
  color: black;
   background: linear-gradient(90deg, rgb(162, 115, 185) 0%, rgb(164, 155, 208) 100%); 
 
  transition: all .7s ease-in-out;
}


@keyframes rollup {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  25% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  75% {
    transform: rotate3d(0, 1, 0, 270deg);
  }
  100% {
    transform: rotate3d(0,1,0, 360deg) ;
  }
  
}
.meme-img{
  min-width: 50%;
  max-width: 60%;
  height: 100%;
  object-fit: cover;

  border-radius: 5px;
  margin-bottom: 1rem;
}